GameEkstra/Connected Services/WCFKontrol/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60438/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60438/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60438/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/gameekstraWCFKontrol" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TcKimlikDogruMu_InputMessage">
    <wsdl:part name="parameters" element="tns:TcKimlikDogruMu" />
  </wsdl:message>
  <wsdl:message name="IService1_TcKimlikDogruMu_OutputMessage">
    <wsdl:part name="parameters" element="tns:TcKimlikDogruMuResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EmailDogruMu_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailDogruMu" />
  </wsdl:message>
  <wsdl:message name="IService1_EmailDogruMu_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailDogruMuResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CepTelefonuDogruMu_InputMessage">
    <wsdl:part name="parameters" element="tns:CepTelefonuDogruMu" />
  </wsdl:message>
  <wsdl:message name="IService1_CepTelefonuDogruMu_OutputMessage">
    <wsdl:part name="parameters" element="tns:CepTelefonuDogruMuResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_KrediKartiDogruMu_InputMessage">
    <wsdl:part name="parameters" element="tns:KrediKartiDogruMu" />
  </wsdl:message>
  <wsdl:message name="IService1_KrediKartiDogruMu_OutputMessage">
    <wsdl:part name="parameters" element="tns:KrediKartiDogruMuResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TcKimlikDogruMu">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TcKimlikDogruMu" message="tns:IService1_TcKimlikDogruMu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TcKimlikDogruMuResponse" message="tns:IService1_TcKimlikDogruMu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailDogruMu">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EmailDogruMu" message="tns:IService1_EmailDogruMu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EmailDogruMuResponse" message="tns:IService1_EmailDogruMu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CepTelefonuDogruMu">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CepTelefonuDogruMu" message="tns:IService1_CepTelefonuDogruMu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CepTelefonuDogruMuResponse" message="tns:IService1_CepTelefonuDogruMu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KrediKartiDogruMu">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/KrediKartiDogruMu" message="tns:IService1_KrediKartiDogruMu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/KrediKartiDogruMuResponse" message="tns:IService1_KrediKartiDogruMu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TcKimlikDogruMu">
      <soap:operation soapAction="http://tempuri.org/IService1/TcKimlikDogruMu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailDogruMu">
      <soap:operation soapAction="http://tempuri.org/IService1/EmailDogruMu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CepTelefonuDogruMu">
      <soap:operation soapAction="http://tempuri.org/IService1/CepTelefonuDogruMu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KrediKartiDogruMu">
      <soap:operation soapAction="http://tempuri.org/IService1/KrediKartiDogruMu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:60438/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>